ul {
	list-style: none;
	text-decoration: none;
}

.App{
	text-align: center;
	padding: 0;
	left: 0;
	margin: 0;
	top: 0;
}

.form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);	
}

.form-info{
	flex-direction: row;
}

.input{
	width: 285px;
	height: 35px;
	box-shadow: 5px 5px 5px 5px rgb(228, 228, 228);
	border-radius: 20px ;
	text-align: center;	
	border: 1px solid black;
}

.btnsend{
	background-color: rgb(19, 72, 68);
	border: 1px solid black;
	color: white;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 15px;
}

.btnsend:hover{
	background-color: rgb(133, 245, 245);
	color: black;
}

/* estilos de la card */

.card-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 10px 60 px;
	gap: 3px;
}

.card{
	display: flex;
	width: 250px;
	height: 290px;
	border-radius: 15px;
	margin: 10px;
	cursor: pointer;
}

.card:hover{
	transform: scale(1.05);
	-webkit-box-shadow: -24px 23px 21px -16px rgba(0,0,0,0.22);
	-moz-box-shadow: -24px 23px 21px -16px rgba(0,0,0,0.22);
	box-shadow: -24px 23px 21px -16px rgba(0,0,0,0.22);
}

.card img{
	height: 100px;
	object-fit: cover;
	z-index: 1;
}

.pokeimage{
	margin-top: calc(100% - 50px);
	margin-left: calc(280px - 100%);
}

.pokeinfo{
	padding-left: 10px;
}

h1, h2, h3, h4, p{
	text-transform: capitalize;
}

.header{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.header-info{
	text-align: left;
	padding-left:60px;
}
.header-info p{
	font-size: 20px;
}

.header-home{
	padding: 20px;
}

.trainer{
	height: 15rem;
}

/* .userInput-img2 {
	width: 100%;
	opacity: 0.3;
	animation-name: pokeball;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-timing-function: linear;
  }
  @keyframes pokeball {
	form {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  } */

  /* Colores de las Card */
.rock {
	background: rgb(70, 24, 11);
	border: 3px double rgb(114, 41, 21);
	color: aliceblue;
}
.ghost {
	background: rgb(49, 51, 106);
	border: 3px double rgb(41, 47, 196);
	color: aliceblue;
}
.electric {
	background: rgb(226, 224, 45);
	border: 3px double rgb(223, 219, 3);
}
.bug {
	background: rgb(139, 195, 74);
	border: 3px double rgb(94, 158, 21);
}
.poison {
	background: rgb(91, 45, 134);
	border: 3px double rgb(76, 10, 138);
}
.normal {
	background: rgb(115, 81, 89);
	border: 3px double rgb(150, 37, 63);
	color: aliceblue;
}
.fairy {
	background: rgb(152, 24, 68);
	border: 3px double rgb(207, 11, 80);
	color: aliceblue;
}
.fire {
	background: rgb(251, 108, 108);
	border: 3px double rgb(245, 55, 55);
}
.grass {
	background: rgb(72, 208, 176);
	border: 3px double rgb(10, 92, 73);
}
.water {
	background: rgb(112, 183, 250);
	border: 3px double rgb(9, 186, 213);
}
.fighting {
	background: rgb(151, 63, 38);
	border: 3px double rgb(150, 48, 20);
}
.psychic {
	background: rgb(255, 235, 59);
	border: 3px double rgb(209, 188, 1);
}
.ground {
	background: rgb(255, 235, 59);
	border: 3px double rgb(209, 188, 1);
}
.ice {
	background: rgb(134, 210, 244);
	border: 3px double rgb(75, 124, 146);
}
.dark {
	background: rgb(3, 7, 6);
	border: 3px double rgb(253, 253, 253);
	color: aliceblue;
}
.dragon {
	background: rgb(68, 138, 148);
	border: 3px double rgb(64, 177, 194);
}
.steel {
	background: rgb(93, 115, 108);
	border: 3px double rgb(61, 60, 60);
}
.flying {
	background: rgb(72, 110, 134);
	border: 3px double rgb(88, 115, 150);
}

.radiant {
	background: radial-gradient(circle, #11cd11, #00c987, #00bece, #00adef, #1896e5);
}

.cont-pokeinfo{
	padding: 30px;
	text-transform: capitalize;	
}

.cont-pokeinfo_logo{
justify-content: start;
margin:0px auto;
}

.logo{
	width: 400px;
	height: auto;
}

.cont-pokeinfo div{
	border-radius: 15px;
}

.detail{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: black;
}

.hw{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.hw b{
	font-size: 30px;
	color: black;
}

.hw p{
	font-size: 20px;
	color: rgb(73,70,70);
}

.number-name{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.number-name b{
	border: 1px solid rgb(73,70,70);
	padding: 5px 10px;
	border-radius: 5px;
}

.number-name hr{
	background-color: rgb(73,70,70);
	margin-left: 0%;
	width: 70%;
	margin-top: 60px;
	height: 1px;
}

.cont-pokeinfo_header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: auto;
}

.left{
	display: flex;
	flex-direction: column;
	width: 68%;
	height: auto;
}

.frame{
	background-color: aliceblue;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	padding: 10px;
}

.type-abilities{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 15px;
	gap: 20px;
	width: 100%;
	height: auto;
}

.type{
	background-color: aliceblue;
	padding: 8px;
	width: 100%;
	align-items: center;
}

.type p{
	border: 1px solid rgb(73,70,70);
    border-radius: 5px;
    padding: 8px 20px;
}

.abilities{
	background-color: aliceblue;
	padding: 8px;
	width: 100%;
	align-items: center;
}

.abilities p{
	border: 1px solid rgb(73,70,70);
    border-radius: 5px;
    padding: 8px 20px;
}

.flex{
	display: flex;
	flex-direction: row;
	gap: 20px;
	text-align: center;
	align-items: center;
}

.stats{
	background-color: aliceblue;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	padding: 10px;
}

.movements{
	display: flex;
	flex-direction: column;
	width: 93vw;
	height: auto;
	background-color: aliceblue;
	justify-content: space-around;
	align-items: center;
}

.movements div{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90%;
	gap: 10px;
	flex-wrap: wrap;	
}

.movements p{
	border: 1px solid rgb(73,70,70);
	padding: 8px 20px;
	border-radius: 10px;
	box-shadow: 8px 8px 2px rgb(108, 105, 105);
}

.movements p:hover{
	transform: scale(1);
	box-shadow: none;
}

/* Paginacion */
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.pagination button {
	background-color: #1896e5;
	border: 1px solid #000000;
	padding: 10px;
	border-radius: 50%;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 24px;
}

.pagination span {
	background-color: #1896e5;
	border: 1px solid #000000;
	padding: 10px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: 800;
	color: aliceblue;
}

.pagination svg {
	width: 15px;
}

.pagination button[disabled] {
	background-color: #474747;
	cursor: no-drop;
}

.total-cont{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.mood{
	width: 80%;
	height: 120px;
	background-color: white;
	margin:0px auto;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 5px rgb(228, 228, 228);
	gap: 60px;
}

.mood h2{
	text-align: left;
	margin-left: 40px;
}

.ld{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 70px;
	height: 25px;
	background-color: rgba(3, 39, 55, 0.316);
	border-radius: 20px;
	align-items: center;
	margin:0px auto;
	gap: 30px;
}

.check{
	border-radius: 50%;
	width: 70px;
	height: 25px;
}

.options{
	width: 80%;
	height: 240px;
	background-color: white;
	margin:0px auto;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 5px rgb(228, 228, 228);	
}

.options h2{
	text-align: left;
	margin-left: 40px;
}

.select{
	width: 300px;
	height: 40px;
	box-shadow: 5px 5px 5px 5px rgb(228, 228, 228);
	border-radius: 20px ;
	text-align: center;	
}

body.darkMood{
	background: rgb(5, 5, 17);
	color: white;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}
.switch::after {
  content: "";
  display: block;
  width: 32px;
  height: 33px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 1000px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
.switch.active {
  background: orange;
  color: black;
  
}
.switch.active::after {
  left: unset;
  right: 0;
}

/* 
.rigth{
	display: flex;
	flex-direction: column;
	width: 26%;
	height: auto;
	background-color: aliceblue;
} */